argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
certifi==14.05.14
interfaces==0.0.2
mock==1.0.1
-e git://github.com/joshmarshall/mogo.git@628891b075d2f2af74bed955d92c4168bbbf84ee#egg=mogo-dev
-e git+https://github.com/joshmarshall/norm@d82deccd9213761b43ccb19daef2d1acdce5c7ce#egg=norm-master
nose==1.3.4
pymongo==2.6.3
selenium==2.44.0
testnado==0.1.6
tornado==4.1
tornadomock==0.1.1
wsgiref==0.1.2
