{% extends "home.htm" %}

{% block body %}

<div class="col-sm-6 col-sm-offset-3">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ int(votes.progress * 100) }}"
      aria-valuemin="0" aria-valuemax="100" style="width: {{ int(votes.progress * 100) }}%;">
      {{ int(votes.progress * 100) }}% Complete</span>
    </div>
  </div>
  <form method="POST" id="nominee-form" action="/contests/{{ contest_id }}/votes/{{ vote_id }}">
    <input type="hidden" id="nominee-id" name="nominee"/>
  </form>
  <h3>{{ category.title }}</h3>
  <h5>{{ category.points }} point{% if category.points != 1 %}s{% end %}</h5>
  <ul class="nominee-list">
    {% for nominee in category.nominees %}
    <li class="nominee {% if nominee.key == votes.get_vote(vote_id) %}active{% end %}"
      data-nominee-id="{{ nominee.key }}">
        <img width="60" class="nominee-image"  src="{{ nominee.image_url() }}"/>
        <span class="title">{{ nominee.title }}</span>
        <span class="subtitle">{{ nominee.subtitle }}</span>
      </li>
    {% end %}
  </ul>

  <!--
  <select class="form-control" id="category-selector">
    {% for cat in categories %}
    <option value="{{ cat.key }}" {% if cat.key == vote_id %}selected="selected"{% end %}>{{ cat.title }}</option>
    {% end %}
  </select>
  -->
  <div class="btn-group dropup category-selector">
    <button class="btn btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      Select Category <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {% for cat in categories %}
      <li class="{% if cat.key == vote_id %}current{%end%}">
        <a href="/contests/{{ contest_id }}/votes/{{ cat.key }}">{% if votes.get_vote(cat.key) %}&#10003;{% end %} {{ cat.title }}</a>
      </li>
      {% end %}
    </ul>
  </div>

</div>

{% end %}

{% block extra_scripts %}
<script>
  $(".nominee").click(function() {
    $(".nominee").removeClass("active").removeClass("wrong");
    $(this).addClass("active");
    $("#nominee-id").val($(this).attr("data-nominee-id"));
    $("#nominee-form").submit();
  });

  $("#category-selector").click(function() {
    var new_vote_id = $(this).val();
    if (new_vote_id) {
      window.location.href = "/contests/{{ contest_id }}/votes/" + new_vote_id;
    }
  });

  // fix for iOS dropdown issue
  $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) {
    e.stopPropagation();
  });
</script>
{% end %}
