<p>{{ user.name }},</p>

<p>
  You have requested a password reset from OscarSlam.com. Please click the link
  below to enter a password you are less likely to forget. But also make it
  difficult for others to guess. And you should probably put lots of weird
  characters in it. Really this whole process would be easier if you wouldn't
  forget passwords in the first place.
</p>

<p>
  <a style="font-size: 16px;"href="{{ reset_link }}">Click here to reset your password.</a><br/>
</p>

<p>
  If you didn't request a password reset, then ignore this email. Also that's
  kind of funny because why would identity thieves be after your Oscar
  predictions?
</p>

<p>
-- OscarSlam Support Team (no one, really)<br/>
<i>(Please redirect all support requests to our GitHub repository.)</i>
</p>
